/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES    font-family: 'Amatic SC', cursive;
font-family: 'Raleway', sans-serif;
/*******************************************/

body {
  width: 100%;
  color: #46588C;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  margin: 0 auto;
}

header {
  background: #D99923;
  padding: 25px 0;
  height: 120px;
  overflow: hidden;
  
}

div.line {
    width: 5px;
    height: .1em;
    border: .1em solid white;
    margin-top: .1em;
    border-radius: 2px;
    padding-right: 2em;
    margin-right: 1em;
}

.hamburger{
  display:none;
}

.horizontal-nav li{
    display: inline-block;
}

header nav {
  float: right;
  margin-top: 15px;

}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 70px;
  font-size: 20px;
  padding-right: 2em;

}

header nav ul li a {
  color: #46588C;
  font-family: 'Raleway', sans-serif;
}

img {
position: fixed;
z-index: 100;
margin-left: 100px;
}

h2{
   font-style: bold;
   font-size: 3em;
   color: #fff;
   padding-top: 28px;
   text-align: center;
   z-index: -98;
   position: relative;
}

h3{
   font-size: 1em;
   color: #fff;
   padding-top: 28px;
   text-align: center;
    z-index: -98;
    position: relative;
}


.fullscreenVid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -99;
}

.fullscreen_frame {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}



#beer-type {
  position: fixed;
  color: #591616;
  font-size: 24px;
  background: #fff;
  border: 1px solid #111;
  padding: 0px 30px;
  display: inline-block;
  width: 320px;
  margin-left: 37%;
  margin-top: 3em;
  font-family: 'Raleway', sans-serif;
  height: 72px;
  line-height: 74px;
  text-align: center;
  vertical-align: middle;
  box-shadow: #46588C 0 0 20px;
}


.containerLower p {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.copyright{
  font-size: .8em;
  color: #fff;
  text-align: center;
}

.ale {
  background:url("../images/ale.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.beertext{
  visibility: hidden;
}


.aleText{
visibility: hidden;
font-family:'Raleway',sans-serif;
font-size: 12px;
margin-top: 180px;
margin-left: 30%;
padding: 10px;
color: #fff;
width: 40%;
background-color: rgba(70, 88, 140,0.5);
z-index: 199;
position: relative;
}

.belgian {
  background:url("../images/belgian.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.5);
}

.IndiaPaleAle {
background:url("../images/ipa.jpg") no-repeat center center;
}

.ipaText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.8);
}

.lager{
  background:url("../images/lager.jpg") no-repeat center center fixed;
  background-size: cover;
}

.lagerText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.8);
}

.pilsner{
  background:url("../images/pilsner.jpg") no-repeat center center fixed;
  background-size: cover;
}

.pilsnerText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.5);
}

.porter{
  background:url("../images/porter.jpg") no-repeat center center fixed;
  background-size: cover;
}

.porterText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.5);
}

.saison {
background:url("../images/siason.jpg") no-repeat center center fixed;
background-size: cover;
}

.saisonText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.5);
}

.sour {
background:url("../images/sour.jpg") no-repeat center center fixed;
background-size: cover;
}

.sourText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.5);
}

.stout {
background:url("../images/stout.jpg") no-repeat center center fixed;
}

.stoutText{
visibility: hidden;
font-family:'Raleway', sans-serif;
font-size: 12px;
margin-top: -100px;
margin-left: 30%;
padding: 10px;
color: #fff;
z-index: 199;
position: relative;
width: 40%;
background-color: rgba(70, 88, 140,0.5);
}

@media only screen and (max-width: 420px) {
    .container {
        width: 100%;
    }

    ul{
      display: none;
        padding: 5px;
    }

    img {
        float: left;
        width: 122px;
        height: 125px;
        margin-left:3%;
       
    }

    .navigation {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        clear: both;
        padding-top: .25em;
    }

    .horizontal-nav li{
        display: block;
        font-size: 54px;
    }

    .main-nav li {
        margin-right: 0;
    }

    .hamburger {
        display: inline-block;
        float: right;
        font-size: 1.5em;
        font-weight: bold;
    }

div.container{
  width: 100%
}

body{
  width: 100%
}

select#beer-type{

  color: #591616;
  font-size: 16px;
  background: #fff;
  border: 1px solid #111;
  padding: 0px 15px;
  display: inline-block;
  width: 250px;
  margin-top: 3em;
  font-family: 'Raleway', sans-serif;
  height: 50px;
  line-height: 74px;
  text-align: center;
  vertical-align: middle;
  box-shadow: #46588C 0 0 20px;
  width: 80%;
  margin-left: 10%;
}

h2{
   font-style: bold;
   font-size: 1.6em;
   color: #fff;
   padding-top: 28px;
   text-align: center;
   z-index: -98;
   position: relative;
}

h3{
   font-size: .7em;
   color: #fff;
   padding-top: 28px;
   text-align: center;
    z-index: -98;
    position: relative;
}

}



