/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES    font-family: 'Amatic SC', cursive;
font-family: 'Raleway', sans-serif;
/*******************************************/

body {
  width: 100%;
  color: #46588C;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
}
.logo {
  font-size: 48px;
  font-weight: 800;
}

header {
  background: #D99923;
  padding: 25px 0;
  height: 120px;
  overflow: hidden;
}
header .logo {
  color: #fff;
  float: left;
  padding-left: 25px;
}

.line {
    width: .5em;
    height: .2em;
    border: .2em solid yellow;
    margin-top: .2em;
    border-radius: 5px;
    padding-right: 2em;
    margin-right: 1em;
}
.hamburger{
  display:none;
}
header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #46588C;
  font-family: 'Raleway', sans-serif;
}

h2{

   font-style: 800;
   font-size: 4em;
   width: 100%;
   text-align: center;
   color: #fff;
   padding-top: 28px;
}

.fullscreenVid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero .logo {
  color: #fff;
}

p{
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.container p {
  padding-top: 25px;
}

.copyright{
  padding-top: 240px;
  font-size: 1em;
}





